# python internals
*.ipynb_checkpoints
*__pycache__*

# local development
*.img*
*.envi*
*.hdr*
*.nc*
*.tif*
*.pptx*
/data/example_out.csv
/data/isla_gaviota_3.geojson
/data/outputs
/data/envi
/python/daac_data_download_python
/python/emit_utils
/ignore
/data/emit_asset_urls.txt
/.vscode/
